<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h2>Welcome to Stock Portfolio Tracker</h2>


    <ul>
      <li><a href="/auth/signup"> Sign Up </a></li>
      <li><a href="/auth/login"> Log in </a></li>
    </ul>


  </body>
</html>
