<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User</title>
</head>
<body>

    <h1>Delete Stock</h1>
    
    <form method="POST" action="/profile/delete/<%= username %>"  >
        <input type="String" name="name" id="stockname">
        <button type="submit">Delete</button>
    </form>

</body>
</html>